

<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <h1>What we will provide</h1>
                  </div>
                  <div class="col">
                    <h1>What we will ask for</h1>
                  </div>		
            </div>
            <div class="row  pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-8">
                                    <h5 class="card-title">The recording of the video</h5>
                                </div>
                            </div>
                        </div>
                    </div>    
                  </div>
                  <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-8">
                                    <h5 class="card-title">Please fill the survey</h5>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </div>		
            </div>
            <div class="row  pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-8">
                                    <h5 class="card-title">The transcript of the video</h5>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="col">
                  </div>		
            </div>
            <div class="row pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-8">
                                    <h5 class="card-title">Every material incl. Slides, notes, cheat sheets</h5>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="col">
                  </div>		
            </div>
            <div class="row pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-8">
                                    <h5 class="card-title">Every neccesary tool</h5>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="col">
                  </div>		
            </div>
        </div>
        {{- partial "script.html" . -}}
    </body>
</html>
