

<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <h1>What we will provide</h1>
                  </div>
                  <div class="col">
                    <h1>What we'd like to ask</h1>
                  </div>		
            </div>
            <div class="row  pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="./Picture1.png" class="card-img" style="width: 80px; "> 
                                    </div>
                                    <div class="col-md-10 my-auto">
                                        <h5 class="card-title align-middle">The recording of the video</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                  </div>
                  <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="./Picture5.png" class="card-img" style="width: 80px; "> 
                                    </div>
                                    <div class="col-md-10 my-auto">
                                        <h5 class="card-title align-middle">Please fill the survey</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </div>		
            </div>
            <div class="row  pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="./Picture2.png" class="card-img" style="width: 80px; "> 
                                    </div>
                                    <div class="col-md-10 my-auto">
                                        <h5 class="card-title align-middle">The recording of the video</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="col">
                  </div>		
            </div>
            <div class="row pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <h5 class="card-title">Every material incl. Slides, notes, cheat sheets</h5>
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="col">
                  </div>		
            </div>
            <div class="row pt-3 pb-3">
                <div class="col">
                    <div class="card h-100 top-highlight">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <h5 class="card-title">Every neccesary tool</h5>
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="col">
                  </div>		
            </div>
        </div>
        {{- partial "script.html" . -}}
    </body>
</html>
