<div class="col">
    <div class="card h-100 top-highlight">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-8">
                    <h5 class="card-title">{{ .Title }}</h5>
					<h6 class="card-title">{{ .Params.position }}</h6>
                    <p class="card-text">{{ .Summary }}</p>
                </div>
                <div class="col-4 ">
                    <p class="card-right">
                        <span class="card-date">{{ dateFormat  "Jan 2, 2006" .Params.startdate }} - {{ if .Params.enddate }} {{ dateFormat  "Jan 2, 2006" .Params.enddate }} {{ end }} </span> 
                        {{/*  <br/>{{ partial "status.html" . }}  */}}
                        <br/><a href="{{ .Permalink }}" role="button" class="btn btn-sm see-all" >See more</a>
                    </p>
                </div>
            </div>
            
        </div>
    </div>   
</div>   